.w-100 {width: 100%;}
.h-128px {height: 128px;}
.p-0 {padding: 0;}
.p-5px {padding: 5px;}
.m-0 {margin: 0;}
.font-14px {font-size: 14px;}
.d-flex {display: flex;}
.column {flex-direction: column;}
.j-center { justify-content: center;}
.gap-5px {gap: 5px;}
.text-center {text-align: center;}
.m-w {max-width: 80px;}
.m-h {max-height: 100%;}
.pointer {cursor: pointer;}
.object-fit {object-fit: cover};


.bg-color-blue {background-color: blue;}


body {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  width: 100vw;
  height: 100vh;
}

#red {
  width: 20vw;
  background-color: red;
}

#event {
  display: flex;
  flex-direction: column;
  width: 60vw;
}

#blue {
  width: 20vw;
  background-color: blue;
}

#event {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#champList {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: space-between;
  height: 100%;
  overflow: auto;
}