/* <<<<<<< HEAD
=======
.w-100 {
  width: 100%;
}
.h-128px {
  height: 128px;
}
.pt-30px {
  padding-top: 30px;
}
.p-0 {
  padding: 0;
}
.p-5px {
  padding: 5px;
}
.pt-5px {
  padding-top: 5px;
}
.pb-5px {
  padding-bottom: 5px;
}
.pb-30px {
  padding-bottom: 30px;
}
.m-0 {
  margin: 0;
}
.mt-30px {
  margin-top: 30px;
}
.font-14px {
  font-size: 14px;
}
.d-flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.j-center {
  justify-content: center;
}
.gap-5px {
  gap: 5px;
}
.text-center {
  text-align: center;
}
.max-w {
  max-width: 80px;
}
.max-h {
  max-height: 100%;
}
.pointer {
  cursor: pointer;
}
.object-fit {
  object-fit: cover;
}
.white-space-nowrap {
  white-space: nowrap;
}

.hidden {
  display: none;
}

.bg-color-blue {
  background-color: rgba(44, 44, 255, 0.641);
}

body {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  width: 100vw;
  height: 100vh;
}

#red {
  width: 20vw;
  background-color: darksalmon;
}

#event {
  display: flex;
  flex-direction: column;
  width: 60vw;
  padding: 20px;
  padding-left: 10vw;
  padding-right: 10vw;
}

#blue {
  width: 20vw;
  background-color: cornflowerblue;
}

#event {
  display: flex;
  justify-content: center;
}
#champList {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  
  align-items: flex-start;
  height: 100%;
  overflow: auto;
}
#blue,
#red {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
>>>>>>> team-two */
