@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.pointer-events-none {
  pointer-events: none;
}

.Pick-border {
  border: 1px solid #999;
}
.Pick-red-border {
  border: 2px solid #b22222;
}
.Pick-blue-border {
  border: 2px solid #00488e;
}
/* .pick-background {
  border: 2px solid #00488e;
} */
